<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.newborn">

<application
    android:allowBackup="true"
    android:icon="@drawable/logo"
    android:label="IZZY BABY"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".activity.meal.AddModifyMealActivity"></activity>
    <activity android:name=".activity.meal.MealListActivity" />
    <activity android:name=".activity.global.RecentActivity" />
    <activity android:name=".activity.change.AddModifyChangeActivity" />
    <activity android:name=".activity.sleep.AddModifySleepActivity" />
    <activity android:name=".activity.sleep.SleepListActivity" />
    <activity android:name=".activity.change.ChangeListActivity" />
    <activity android:name=".activity.global.SummaryDayActivity" />

    <activity android:name=".activity.global.MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

</application>

</manifest>